In [19]:
import requests
import pandas as pd

In [20]:
# URL de l'API pour le classement Ligue 1 2024‚Äì2025
url = "https://www.thesportsdb.com/api/v1/json/3/lookuptable.php?l=4334&s=2025-2026"

# Requ√™te √† l'API
response = requests.get(url)
r = response.json()

# V√©rification de la cl√© 'table'
if 'table' not in r:
    print("‚ùå Donn√©es de classement introuvables.")
else:
    table = r['table']

    # Construction du DataFrame
    data = pd.DataFrame([{
        "Pos": team["intRank"],
        "Team": team["strTeam"],
        "M": team["intPlayed"],
        "W": team["intWin"],
        "D": team["intDraw"],
        "L": team["intLoss"],
        "G": team["intGoalsFor"],
        "GA": team["intGoalsAgainst"],
        "Diff": team["intGoalDifference"],
        "PTS": team["intPoints"]
    } for team in table])

    # Tri par position
    data = data.sort_values(by="PTS").reset_index(drop=True)

    # Affichage
    print("üèÜ Classement Ligue 1 ‚Äì 2024/2025 :")
    display(data)

üèÜ Classement Ligue 1 ‚Äì 2024/2025 :

   Pos        Team  M  W  D  L  G GA Diff PTS
0   18        Metz  2  0  0  2  0  4   -4   0
1   16    Le Havre  2  0  0  2  2  5   -3   0
2   15      Nantes  2  0  0  2  0  2   -2   0
3   17    Paris FC  2  0  0  2  2  6   -4   0
4   14       Brest  2  0  1  1  3  5   -2   1
5   13      Rennes  2  1  0  1  1  4   -3   3
6   12     Auxerre  2  1  0  1  2  3   -1   3
7   11      Angers  2  1  0  1  1  1    0   3
8   10        Lens  2  1  0  1  2  2    0   3
9    9        Nice  2  1  0  1  3  2    1   3
10   7   Marseille  2  1  0  1  5  3    2   3
11   6     Lorient  2  1  0  1  4  1    3   3
12   8      Monaco  2  1  0  1  3  2    1   3
13   5       Lille  2  1  1  0  4  3    1   4
14   4  Strasbourg  2  2  0  0  2  0    2   6
15   3    Paris SG  2  2  0  0  2  0    2   6
16   2    Toulouse  2  2  0  0  3  0    3   6
17   1        Lyon  2  2  0  0  4  0    4   6

In [21]:
# Import your algorithms
from algorithms import (
    calculate_odds,
    generate_odds_with_home_away_adjustment
)

In [22]:
season_data = pd.DataFrame([{
    "Team": team["strTeam"],
    "M": int(team["intPlayed"]),
    "W": int(team["intWin"]),
    "D": int(team["intDraw"]),
    "L": int(team["intLoss"]),
    "G": int(team["intGoalsFor"]),
    "GA": int(team["intGoalsAgainst"]),
    "Diff": int(team["intGoalDifference"]),
    "PTS": int(team["intPoints"])
} for team in table])
try:
    home_team = "Lyon"
    away_team = "Marseille"

    odds = generate_odds(home_team, away_team, season_data)

    print(f"\nüìä Predicted Odds: {home_team} vs {away_team}")
    for k, v in odds.items():
        print(f"  {k}: {v}")

except Exception as e:
    print("Error:", e)

üìä Predicted Odds: Lyon vs Marseille
  home_win_odds: 1.5
  draw_odds: inf
  away_win_odds: 3.0